<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
      #map {
      height: 400px;
      width: 100%;
      }
  </style>
  </head>
    <body>
        <h5>Michael to Add Engineer's Page here</h5>
        <div class="border-top" style="position: fixed; bottom: 10px; left:5px">
            <small class="text-muted">
               <a class="ml-2" href="{{ url_for('site.logout') }}">Logout</a>
            </small>
          </div>
    </body>
</html> 
